{% extends 'BetterCart/base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <h1 align = "center">About Us</h1>
    <table class="table table-striped">
        <p></p>
       <p>BetterCart uses NutriScore data backed by the World Health Organization to provide an easy to understand view on if a food is healthy or not.</p>
        <p>Our team of created a database of healthy alternatives for common ingredients that you would buy in a grocery store. The way that nutricscore works is that you are given a score from a-e based on how nutrient dense and "healthy" that food is. This is backed by empirical evidence from food scientists. Rather than being bombarded with too many numbers and labels that can be confusing for someone just getting into fitness, you can now easily tell how "healthy" a food is by a letter!</p>
        <p>Simply search for the food you want to add to your grocery list and choose from the given options which item you meant to search. Then, BetterCart will provide you with various healthier alternatives and their respective NutriScores so that you can then add the ingredient of your choosing to the cart. Your BetterCart will then be populated with your choices and you can add more or clear it!</p>
    </table>
</div>
{% endblock %}
