{% extends 'BetterCart/base.html' %}

{% block content %}
    <div class="container">
        <h1>Grocery List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Calories</th>
                    <th>Saturated Fat</th>
                    <th>Trans Fat</th>
                    <th>Carbs</th>
                    <th>Protein</th>
                </tr>
            </thead>
            <tbody>

                {% for item in items %}
                    <tr>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.calories }}</td>
                        <td>{{ item.saturated_fat }}</td>
                        <td>{{ item.trans_fat }}</td>
                        <td>{{ item.carbs }}</td>
                        <td>{{ item.protein }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/BetterCart/add-item'">Add</button>
        <button type="button" class="btn btn-success" onclick="window.location.href='/finalize-list'">Finalize</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/clear-list'">Clear</button>

        <style>
            .table thead {
                background-color: lightblue;
            }
        </style>
    </div>
{% endblock %}
