{% extends 'BetterCart/base.html' %}

{% block content %}
<div class="container">
    <h1 align="center">Recommendations</h1>
    <br>
    <table class="table table-striped">
<!--        <table style="width: 800px" align="center">-->
        <thead>
        <thead style="background-color: lightblue;">
            <tr>
                <th>Your Choice</th>
                <th>NutriScore</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if results %}
            <tr>
                <td>{{ results.0 }}</td>
                <td>{{ context2.score }}</td>
                <td class="text-center">
                    <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value="{{ results.0 }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if results|length > 1 %}
    <table class="table table-striped">
        <thead>
        <thead style="background-color: lightblue;">
            <tr>
                <th>Our Recommendations</th>
                <th>NutriScore</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ context }}</td>
                <td></td>
                <td></td>
            </tr>
            {% for result in overall %}
            <tr>
                <td>{{ result.0 }}</td>
                <td>{{ result.1 }}</td>
                <td class="text-center">
                    <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value="{{ result.0 }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block extra_css %}
<style>
    .table thead {
        background-color: lightblue;
    }

    .table td,
    .table th {
        vertical-align: middle;
        text-align: center;
    }
</style>
{% endblock %}
