{% extends 'BetterCart/base.html' %}

{% block content %}
<div class="container">
    <h1 align = "center ">Recommendations</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Your Choice</th>
                <th style=" text-align: center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if results %}
            <tr>
                <td>{{ results.0 }}</td>
                <td class="text-center">
                    <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value="{{ result }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if results|length > 1 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Our Recommendations</th>
                <th style=" text-align: center">Action</th>
            </tr>
        </thead>
        <br>
        <tbody>
            {% for result in results|slice:"1:" %}
            <tr>
                <td>{{ result }}</td>
                <td class="text-center">
                    <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value="{{ result }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <br>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block extra_css %}
<style>
    .table thead {
        background-color: lightblue;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }
</style>
{% endblock %}
